*{
	font-family: 'cinzel';
	
}
body{
	background: #a2e3c8;
}

.header-container{
	background-image: url(tribal.jpg);
	background-size: 1658px;
	background-repeat: no-repeat;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
}

.header-container__nav__{
	
	display: flex;
	background: #00800000;
	height: 35px;
	justify-content: space-evenly;
}


.header-container__tit__{
	display: flex;
	height: 90px;
	text-align: center;
	
}


i{
	padding-top: 10px;
	color: green;
	width: 30px;

}

a{
	color: #000;
	text-decoration: none;
}

.list-a{
	width: 160px;
	text-align: center;
	font-size: small;
}

.nav-btn{
	background: #a2e3c8;
    width: 101px;
    color: #000;
    width: 238px;
    font-size: 13px;
    margin: -2px;
    margin-top: 55px;
    border-radius: 20px;
    height: 48px;
    border-top: solid;
    border-color: green;
    font-weight: bold;
}


.list-a:hover > .list{
	display: block;
	
}

.nav-btn:hover{
	width: 260px;
	transition: 0.5s;
	cursor: pointer;
	display: block;
	background-color: #00800000;
}

.list-li:hover{
	font-size: large;	
}

.list-li-f:hover{
	font-size: large;	
}
.subt{
    width: 38%;
    padding: 86px;
    font-size: 32px;
    margin-right: 160px;
    padding-top: 26px;
    margin-left: 39%;
}

.ecocirc{
	color: green;
    font-style: oblique;
}

.ecocirc:hover{
	text-decoration: underline;
}

.main{
	width: 100%;
    background-image: url(arbol.jpg);
    background-repeat: no-repeat;
    background-size: 1600px;
    height: 1068px;
    font-size: large;
    font-family: 'Cinzel';
    text-align: center;
    border-top: solid;
    border-color: #a2e3c8;
    border-top-width: 17px;
    display: flex;
    flex-direction: row;

}
.cup{
    border-bottom: double;
    font-style: oblique;
    font-size: 52px;
    color: green;
    text-shadow: 2px 2px black;
}

footer{
	display: flex;
    justify-content: center;
    border-bottom: solid;
    border-color: green;
    border-width: 35px;
}


.list{
    background: #00800000;
    display: none;
    list-style: none;
    text-align: left;
    padding: 0px;
    position: relative;
    border-radius: 6px;
}

.list-li-f{
	text-decoration: none;
    color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: solid;
    border-color: green;
    background: #a2e3c8;
    margin-left: 2px;
    padding-left: 46px;
}

.list-li{
    text-decoration: none;
    color: #fff;
    background: #a2e3c8;
    margin-left: 2px;
    padding-left: 46px;
	
}

.anim{
	width: 200px;
	border-radius: 60px;
	border-style: solid;
	border-color: #fff;
	height: 210px;
	animation: 8s anim infinite linear;
}


.section-container__srv__{
	display: grid;
    background-color: #fff;
    width: 100%;
    justify-items: center;
}

.section-srv {
    height: 97%;
    width: 84%;
    color: green;
    font-size: x-large;
    font-style: oblique;
    background-image: url(reciclar.jpg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.section-srv-b {
    padding-top: 25px;
    width: 84%;
    text-align: center;
    color: green;
    padding: 4%;
    font-size: x-large;
    font-style: oblique;
    background-image: url(niños.jpg);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    margin-top: 2%;
}

.section-container{
	background: #a2e3c8;
	max-width: 100%;
}

.ani{   
	max-width: 70%;
    text-align: center;
    height: 85%;
    border-radius: 42%;
    border-right-style: double;
    border-width: 18px;
    padding-top: 5%;
    padding-right: 3%;
}

.ani-b{   
    max-width: 130%;
    margin-top: -34px;
    height: 100%;
    border-radius: 43%;
    border-left-style: double;
    border-width: 18px;
    padding-top: 6%;
    padding-left: 5%;
    text-align: center;
    margin-left: 25%;
}

.section-mis{
	width: 92%;
    display: flex;
    background-image: url(animado.gif);
    background-repeat: no-repeat;
    background-size: 18%;
    border-width: 16px;
    border-color: green;
    background-position-x: 53%;
    margin-top: 100px;
    border-radius: 17%;
    border-top-style: double;
    border-bottom-style: double;
    padding-top: 24px;
}
.mis{
    padding: 7%;
    max-width: 39%;
    font-size: x-large;
    text-align: center;
    color: #000;
    text-shadow: 2px 1px 1px #00ff14;
    margin: 2%;
	
}    

.mis-b{
	padding: 7%;
    height: 58%;
    max-width: 39%;
    font-size: x-large;
    text-align: center;
    margin: 2%;
    text-shadow: 2px 1px 1px #00ff14;
    margin-left: -32px;

}

.mis-p{
    border-width: 9px;
    border-color: green;
    height: 380px;
}
.mis-p-br{
    border-width: 9px;
    border-color: green;
    height: 380px;
}

.reciclables{
	max-width: 100%;
    margin-bottom: -4px;
}



.foot{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    justify-content: center;
    justify-items: center;
    height: 316px;
}
.foot__soc__{
	width: auto;
    height: 35px;
    font-size: large;
    font-family: 'Cinzel';
    text-align: justify;
    
}

h6{
    height: 0px;
    text-align: center;
    font-size: 25px;
	text-decoration: underline;
}

.logo{
    width: 151px;
    position: absolute;
    margin-left: -63px;
    border-radius: 22px;
}

.int{
	font-size: larger;
    text-align: -webkit-left;
    font-style: italic;
    font-family: serif;
    letter-spacing: 3px;
    margin: 61px;
}
.int-f{
	font-size: larger;
    text-align: -webkit-left;
    font-style: italic;
    font-family: serif;
    letter-spacing: 3px;
    margin: 61px;
}
.int:hover{
	color: green;
}

.maineco{
    margin-top: 17px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ecotit{
	padding-top: 34px;
    font-size: 41px;
    font-style: oblique;
    color: green;
    padding-bottom: 34px;
    text-decoration: underline;
}
.ecop{
	display: flex;
    align-items: center;
    width: 77%;
    background: linear-gradient(266deg, #a5d1d0, transparent);
    background-size: 43%;
}
.ecop-b{
    padding-top: 29px;
    display: flex;
    border-top: solid;
    border-bottom: solid;
    border-color: green;
    border-width: 8px;
    align-items: center;
    width: 77%;
    background: linear-gradient(90deg, #a5d1d0, transparent);
    background-size: 55%;
    background-repeat: no-repeat;

}

.art{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 55px;
    letter-spacing: 2px;
    width: 72%;
    border-left: double;
    border-right: double;
    font-style: oblique;
    text-align: center;
    padding-left: 20px;
    border-color: green;
    border-width: 10px;
    padding-right: 20px;
}

.r3{
	color: green;
    font-size: x-large;
    margin-left: 82px;
}

.art-b{
	width: 67%;
    font-size: 18px;
}

.art-c{
    width: 48%;
    padding-right: 60px;
    margin-left: 14px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 22px;
}

.ecoimg{
	height: 708px;
}

.ecop-d{
	display: flex;
    padding-top: 67px;
    width: 100%;
    border-bottom: solid;
    border-width: 16px;
    border-color: green;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(3deg, #a5d1d0, transparent);
    background-size: 1%;
}

.art-d{
    width: 80%;
    text-align: center;
    font-weight: bold;
}

.plas{
	display: flex;
    width: 90%;
    justify-content: center;
}
.imgplast{
	width: 34%;
    border-radius: 52px;
}
.art-e{
    width: 29%;
    text-align: center;
    font-weight: bold;
}

.pie{
    width: 90%;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    padding-top: 60px;
}

.dist{
    display: flex;
    margin-top: 17px;
    width: 100%;
    align-items: flex-start;
    background: linear-gradient(267deg, #ffffff, #a4dbd87a);
    background-repeat: no-repeat;
    background-size: 79%;
    border-bottom: solid;
    border-color: green;
    border-width: 15px;
}

.imgdist{
    width: 20%;
}

.h1dist{
    padding-top: 50px;
    text-decoration: underline;
    margin-left: 90px;
}
.h4dist{
    font-size: 25px;
    margin-left: 82px;

}
.pdist{
    font-size: 19px;
    width: 81%;
    margin: auto;
    border-color: green;
    padding-left: 40px;
    font-weight: bold;
}

.int-d{
    font-size: larger;
    text-align: -webkit-left;
    font-style: italic;
    font-family: serif;
    letter-spacing: 3px;
}
.int-d:hover{
	color: green;
}

.adist{
    color: green;

}

.adist:hover{
    text-decoration: underline;
}

.pfdist{
    width: 90%;
    margin: auto;
    padding-top: 40px;
}
.bucle{
    width: 61%;
    border: solid;
    border-color: green;
    border-width: 19px;
    padding: 10px;
}

.buclediv{
    display: flex;
    justify-content: center;
    background: #fff;
    
}
.divpf{
    border-bottom: solid;
    border-color: green;
    border-width: 15px;
}

.subr{
    text-decoration: underline;
}
.fuente:hover{
    color: green;
    text-decoration: underline;
}
.small{
    text-align: center;
    font-size: large;
    margin-top: 66px;
}

.form{
    width: 146%;
    border-left: solid;
    border-color: green;
    padding-left: 120px;
    margin-left: 12px;
}

.divfile{
    padding: 20px;
}

.form-txt{
    border: none;
    border-bottom: solid;
    color: green;
    padding: 5px;
    margin: 15px;
    width: 53%;
    border-left: solid;
    text-align: center;
}

.file::before{
    color: green;

}

.divform{
    display: flex;
    padding-left: 88px;
}
.boton{
    width: 55%;
    background: green;
    height: 38px;
    font-weight: bold;
    margin-bottom: 65px;
    margin-left: 13px;
    border-radius: 12px;
}
.form-num{
    width: 36px;
    margin-left: 15px;
    margin-top: 13px;
    border: none;
    height: 26px;
    border-bottom: solid;
    color: green;
    border-left: solid;
}
.sub-b{
    padding: 3px;
}

.vol{
    width: 70px;
    border: none;
    border-bottom: solid;
    color: green;
    padding: 5px;
    height: 19px;
    margin-left: 95px;
    border-left: solid;
    text-align: center;
    margin-right: 18px;
}

datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    width: 200px;
    color: #000;
}

::placeholder{
	color: green;
	font-family: 'Cinzel';
	text-align: center;
}
.hambur{
    width: 47px;
    position: absolute;
    margin-top: 32px;
    right: 63px;
    display: none;
    
}
.responsive_li{    
    padding: 7px;
    border-bottom: solid;
    border-color: green;
}
    .responsive_a{
    color: white;
}
.responsive_ul{
    text-align: left;
    list-style: none;
    position: absolute;
    top: 104px;
    left: 421px;
    width: 84%;
    background: radial-gradient(#000000bf, black);
    display: none;
    transition: 600ms;
    
}
.activedisp{
    display: block;
    transition: 600ms;
    transform: translate(-401px);
}

.activelinea{
    transform: rotate(45deg) translate(3px, 11px);
}
.activelineb{
    opacity: 0;
    margin-left: -30px;
}
.activelinec{
    transform: rotate(-45deg) translate(2px, -11px)
}

.menu{
    margin-top: auto;
    font-size: smaller;
    transition: all 600ms;
}
.hambur span{
    display: block;
    width: 100%;
    height: 4px;
    margin-top: 6px;
    background: green;
    border-radius: 3px;
    transition: all 600ms;
    
}
@media screen and (max-width: 1400px){
	.mis-p {
        border-width: 9px;
        border-color: green;
        font-size: large;
    }
    .mis{
        font-size: large;
    }
    .mis-b{
        font-size: large;
    }
    .section-mis {
        height: 649px;
    }
}
  

@media screen and (max-width: 800px){
    .small {
        text-align: center;
        font-size: small;
        margin-top: 66px;
    }
    .bucle {
        width: 86%;
        border: solid;
        border-color: green;
        border-width: 19px;
        padding: 10px;
    }
    .buclediv {
        display: flex;
        justify-content: center;
        background: #fff;
        flex-direction: column;
    }
    .dist {
        display: flex;
        margin-top: 17px;
        width: 100%;
        align-items: flex-start;
        background: linear-gradient(267deg, #ffffff, #a4dbd87a);
        background-repeat: no-repeat;
        background-size: 100%;
        border-bottom: solid;
        border-color: green;
        border-width: 15px;
    }
    .file{
        padding-top: 21px;
    }
    .vol {
        width: 45px;
        border: none;
        border-bottom: solid;
        color: green;
        padding: 5px;
        height: 19px;
        margin-left: 18px;
        border-left: solid;
        text-align: center;
        margin-right: 18px;
    }
    .divform {
        display: flex;
        padding-left: 8px;
    }
    .divfile {
        padding: 0;
        font-size: small;
    }
    .form {
        width: 90%;
        border-left: solid;
        border-color: green;
        padding-left: 0;
        margin-left: 0;
    }
    .pdist {
        font-size: small;
        width: 90%;
        margin: 0;
        border-color: green;
        padding-left: 13px;
        font-weight: bold;
    }
    .h4dist {
        font-size: smaller;
        margin-left: 7px;
    }
    .h1dist {
        padding-top: 50px;
        text-decoration: underline;
        margin-left: 18px;
        font-size: medium;
    }
    .imgdist{
        display: none;

    }
    .ecop-b {
        padding-top: 29px;
        display: block;
        border-top: solid;
        border-bottom: solid;
        border-color: green; 
        border-width: 8px; 
        align-items: center;
        width: 100%;
        background: linear-gradient(90deg, #a5d1d0, transparent);
        background-size: 55%;
        background-repeat: no-repeat;
    }
    .plas {
        display: flex;
        width: 89%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .imgplast {
        width: 87%;
        border-radius: 52px;
    }
    .pie {
        width: 90%;
        text-align: center;
        font-weight: bold;
        font-size: large;
        padding-top: 60px;
    }
    .art-e {
        width: 90%;
        text-align: center;
        font-weight: bold;
    }
    .art-c {
        width: 88%;
        padding-right: 0;
        margin-left: 14px;
        text-align: center;
        letter-spacing: 0px;
        font-weight: bold;
        font-size: large;
    }

    .ecop {
        display: flex;
        align-items: center;
        width: 77%;
        background: linear-gradient(266deg, #a5d1d0, transparent);
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .ecop{
        display: block;
    }
    .ecoimg {
        height: 498px;
    }
    .ecotit{
        font-size: large;
    }
    .art{
        font-size: medium;
    }
    .hambur{
        display: block;
    }
	.subt{
        font-size: smaller;
        width: 38%;
        padding: 7px;
        background: linear-gradient(269deg, green, transparent);
        margin-right: 160px;
        padding-top: 3px;
        margin-right: 9px;
        margin-left: 59%;
        margin-bottom: 126px;
        margin-top: 0;
    }
    .header-container__nav__{
        display: none;
    }
    .main{
        width: 100%;
        background-image: url(arbol.jpg);
        background-repeat: no-repeat;
        height: auto;
        font-size: large;
        font-family: 'Cinzel';
        text-align: center;
        border-color: #a2e3c8;
        display: flex;
        background-size: auto;
        margin-bottom: -7px;
        border: none;
    }
    .cup{
        border-bottom: double;
        font-style: oblique;
        margin-right: 5px;
        font-size: x-large;
        color: green;
        text-shadow: none;
        padding: 0px;
        background: linear-gradient(8deg, #d5e3d5, transparent);
    }
    .header-container{
        margin-bottom: 0;
        background-size: 1460px;
    }
    .logo {
        width: 116px;
        border-radius: 22px;
    }
    .section-srv{
        height: 97%;
        width: 84%;
        color: green;
        font-size: small;
        font-style: oblique;
        background-image: url(reciclar.jpg);
        background-repeat: no-repeat;
        background-position-x: 111%;
        background-position-y: bottom;
        background-size: 71%;
    }
    .section-srv-b{
        width: 84%;
        text-align: right;
        color: green;
        padding: 5%;
        font-size: smaller;
        font-style: oblique;
        background-image: url(niños.jpg);
        background-repeat: no-repeat;
        background-position-x: left;
        background-position-y: 89%;
        margin-top: 10%;
        background-size: 268px;
    }
    .ani{
        max-width: 70%;
        text-align: left;
        border: none;
    }
    .ani-b{
        text-align: right;
        border: none;
    }
    .mis-p {
        border-width: 9px;
        border-color: green;
        font-size: small;
        text-shadow: none;
        color: green;
        font-weight: bolder;
        text-align: left;
    }
    .mis-p-br {
        border-width: 9px;
        border-color: green;
        font-size: small;
        text-shadow: none;
        color: green;
        font-weight: bolder;
        text-align: right;
    }
    
    .section-mis{
        width: 100%;
        display: flex;
        background-image: url(animado.gif);
        background-repeat: no-repeat;
        background-size: 18%;
        border-width: 16px;
        border-color: green;
        background-position-x: 53%;
        margin-top: 11px;
        border-radius: 0;
        border-top-style: double;
        border-bottom-style: double;
        padding-top: 24px;
        height: 672px;
    }
    h2{
        font-size: x-large;
    }
    h6{
        font-size: 15px;
    }
    .foot{
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        height: 316px;
    }
    .foot__soc__{
        width: auto;
        height: 114px;
        font-size: small;
        font-family: 'Cinzel';
        text-align: initial;
    }
    .int{
        font-size: small;
        text-align: center;
        font-style: italic;
        font-family: serif;
        letter-spacing: 0px;
        margin: 8px;
    }
    .int-f{
        font-size: small;
        text-align: left;
        font-style: italic;
        font-family: serif;
        letter-spacing: 1px;
        margin: 0px;
    }
}